.container { width: 80%; margin: auto; text-align: center; }
.menu-item, .review-item { border: 1px solid #ddd; padding: 10px; margin: 10px; border-radius: 5px; }
.add-review-form { margin-top: 20px; }
.submit-button { background-color: #4CAF50; color: white; padding: 10px; border: none; cursor: pointer; }
.delete-button {
    background-color: #f44336;
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5px;
}

.delete-button:hover {
    background-color: #d32f2f;
}

h1 {
    text-align: center;
}
.restaurant-container {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}
.restaurant-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
}
.restaurant-info {
    flex: 1;
}
.restaurant-info h3 {
    margin: 0;
}
.reserve-button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}
.reserve-button:hover {
    background-color: #45a049;
}

.container { width: 80%; margin: auto; text-align: center; }
.submit-button { background-color: #4CAF50; color: white; padding: 10px; border: none; cursor: pointer; }